@import url(reset.css);

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}


/* Top bar */

#top-bar{
    display: flex;
    height: 60px;
    /* background-color: yellow; */
    padding: 6px;
    justify-content: flex-end;
    white-space: nowrap;
}   
#top-bar>div{
    display: flex;
    /* background-color: brown; */
    padding-left: 32px;
    align-items: center;
    padding-right: 4px;
}
#text-icons{
    padding-right: 15px;
}
#text-icons>a{
    padding-left: 10px;
    font-size: 13px;
    line-height: 24px;
}
#img-icons{
    display: flex;
    align-items: center;
}
#img-icons>div>svg{
    width: 24px;
    height: 24px;
    fill: #5f6368;
}
#img-icons>div{
    display: flex;
    margin: 4px;
    padding: 8px;
    border-radius: 100px;
    /* background-color:aqua ; */
}
#img-icons>div:hover{
    cursor: pointer;
    background-color: rgba(60,64,67,.08);
}
#img-icons>a{
    margin: 0 8px;
    padding: 9px 23px;
    background-color: #1a73e8;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
#img-icons>a:hover{
    background-color: #1b66c9;
    text-decoration: none;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}
#img-icons>a:focus{
    background-color: #1c5fba;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}
#img-icons>a:active{
    background-color: #1b63c1;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}
a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
a:hover{
    text-decoration: underline;
}


/* Main */
#main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#google-logo{
    display: flex;
    justify-content: center;
    min-height: 92px;
    /* min-height: 150px; */
    max-height: 290px;
    width: fit-content;
    height: calc(100vh - 560px);
    align-items: flex-end;
}
#search-bar{
    display: flex;
    /* height: 44px; */
    max-width: 584px;
    background-color: aqua;
    justify-content: center;
    border: 1px solid #dfe1e5;
    background: #fff;
    border-radius: 24px;
    /* width: fit-content; */
    margin-top: 26px;
    align-items: center;
    padding: 0px 10px 0 14px;
    width: 100%;
}
#search-bar:focus-within,
#search-bar:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
#search-bar>input{
    display: flex;
    /* flex: 1 1 483px; */
    flex: 1 1;
    outline: none;
    border: none;
    /* width: 483px; */
}
#search-form{
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}
#search-bar>svg{
    fill: #9aa0a6;
    width: 20px;
    height: 20px;
    margin: 9px 0;

}
#search-bar>svg:first-child{
    margin-right: 13px;
}
#search-bar>svg:last-child{
    margin: 0 8px;
    width: 24px;
    height: 24px;
}
#search-bar>svg:last-child:hover{
    cursor: pointer;
}
#middle-bar{
    padding-top: 18px;
    display: flex;
    /* background-color: #1a0dab; */
    justify-content: center;
}
#middle-bar>div{
    display: flex;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    color: #3c4043;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    user-select: none;
    white-space: nowrap;
}
#middle-bar>div:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
#middle-bar>div:focus{
    border: 1px solid #4285f4;
    outline: none;
}
#language-bar{
    /* padding-top: 18px; */
    color: #4d5156;
    line-height: 28px;
    font-size: small;
    text-align: center;
    margin-top: 10px; 
    white-space: nowrap;  
}
#language-bar>a{
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
    line-height: 28px;
    text-align: center;
}
#language-bar>a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Footer */

footer{
    position: absolute;
    /* background-color: #1a0dab; */
    bottom: 0;
    width: 100%;
    padding: 0 20px;
}
#nav-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #1a73e8; */
}
#nav-wrapper>nav{
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    justify-content: center;
}
#nav-wrapper>nav>a{
    padding: 15px;
    color: #70757a;
    white-space: nowrap;
    font-size: 14px;
}
#country{
    /* padding: 15px 30px; */
    padding: 15px 10px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}